<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <title>Job Portal | User Home</title>
      <!--/tags -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <script type="application/x-javascript">
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);

         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!--//tags -->
      <link href="{% static 'assets/css/bootstrap.css' %}"rel="stylesheet" type="text/css" media="all" />
      <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
      <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet">
      <!-- //for bootstrap working -->
      <link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
      <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
         rel='stylesheet' type='text/css'>
   </head>
   <body>
      <!-- header -->
      <div class="header" id="home">
         <div class="content white agile-info">
            <nav class="navbar navbar-default" role="navigation">
               <div class="container">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="{% url 'allJobs' %}">
                        <h1><span class="fa fa-signal" aria-hidden="true"></span> JP <label>Job Portal</label></h1>
                     </a>
                  </div>
                  <!--/.navbar-header-->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                     <nav class="link-effect-2" id="link-effect-2">
                        <ul class="nav navbar-nav">
                           <li class="active"><a href="{% url 'allJobs' %}" class="effect-3">Home</a></li>
                           <li><a href="{% url 'allCompanies' %}" class="effect-3">Companies</a></li>
                           <li><a href="{% url 'appliedJobs' %}" class="effect-3">Applied Jobs</a></li>
                           <li><a href="{% url 'logoutUser' %}" class="effect-3">Logout</a></li>
                           <li>
                              <a class="effect-3">
                                 <p>Welcome {{request.user}}</p>
                              </a>
                           </li>
                        </ul>
                     </nav>
                  </div>
                  <!--/.navbar-collapse-->
                  <!--/.navbar-->
               </div>
            </nav>
         </div>
      </div>
      {% block body %}
      {% endblock %}
      <!-- footer -->
      <div class="footer_top_agileits">
         <div class="container">
            <div class="col-md-4 footer_grid">
               <h3>About Us</h3>
               <p>Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue nisi vel pulvinar posuere sapien
                  eros.
               </p>
            </div>
            <div class="col-md-4 footer_grid">
               <h3>Latest News</h3>
               <ul class="footer_grid_list">
                  <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                     <a href="#" >Lorem ipsum neque vulputate </a>
                  </li>
                  <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                     <a href="#" >Dolor amet sed quam vitae</a>
                  </li>
                  <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                     <a href="#" >Lorem ipsum neque, vulputate </a>
                  </li>
                  <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                     <a href="#" >Dolor amet sed quam vitae</a>
                  </li>
                  <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                     <a href="#" >Lorem ipsum neque, vulputate </a>
                  </li>
               </ul>
            </div>
            <div class="col-md-4 footer_grid">
               <h3>Contact Info</h3>
               <ul class="address">
                  <li><i class="fa fa-map-marker" aria-hidden="true"></i>Jalandhar<span>Bus Stand.</span></li>
                  <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="">info@example.com</a></li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i>+09187 8088 9436</li>
               </ul>
            </div>
            <div class="clearfix"> </div>
         </div>
      </div>
      <div class="footer_w3ls">
         <div class="container">
            <div class="footer_bottom">
               <div class="col-md-9 footer_bottom_grid">
                  <div class="footer_bottom1">
                     <a href="{% url 'allJobs' %}">
                        <h2><span class="fa fa-signal" aria-hidden="true"></span> JP <label>Job Portal</label></h2>
                     </a>
                     <p>Job Portal | <a href="">User Panel</a></p>
                  </div>
               </div>
               <div class="clearfix"> </div>
            </div>
         </div>
      </div>
      <!-- //footer -->
      <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
      <!-- js -->
      <script type="{% static 'assets/text/javascript'%}" src="js/jquery-2.1.4.min.js"></script>
      <script type="{% static 'aasets/text/javascript'%}" src="js/bootstrap.js"></script>
   </body>
</html>
