<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <title>Job Portal | Register User</title>
      <!--/tags -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
      <script type="application/x-javascript">
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);

         function hideURLbar() {
         	window.scrollTo(0, 1);
         }


      </script>
      <!--//tags -->
      <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
      <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
      <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet">
      <!-- //for bootstrap working -->
      <link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
      <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
         rel='stylesheet' type='text/css'>
   </head>
   <body>
      <!-- header -->
      <div class="header" id="home">
         <div class="content white agile-info">
            <nav class="navbar navbar-default" role="navigation">
               <div class="container">
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="">
                        <h1><span class="fa fa-signal" aria-hidden="true"></span> JP <label>Job Portal</label></h1>
                     </a>
                  </div>
                  <!--/.navbar-header-->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                     <nav class="link-effect-2" id="link-effect-2">

                     </nav>
                  </div>
                  <!--/.navbar-collapse-->
                  <!--/.navbar-->
               </div>
            </nav>
         </div>
      </div>
      <!-- banner -->
      <div class="inner_page_agile">
         <h3>Register</h3>
         <p>Your Registeration Details</p>
      </div>
      <!--//banner -->
      <!--/w3_short-->
      <div class="services-breadcrumb_w3layouts">
         <div class="inner_breadcrumb">
            <ul class="short_w3ls" _w3ls>
               <li><a href="">Register</a><span>|</span></li>
               <li></li>
            </ul>
         </div>
      </div>
      <!--//w3_short-->
      <!-- /inner_content -->
      <div class="inner_content_info_agileits">
         <div class="container">
            <div class="tittle_head_w3ls">
               <h3 class="tittle three">Register Now </h3>
            </div>
            {% if message %}
            <div class="alerts-success">
               {{message}}
            </div>
            {% endif %}
            <div class="inner_sec_grids_info_w3ls">
               <div class="signin-form">
                  <!-- <div class="login-form-rec"> -->
                  <form action="{% url 'registerUser' %}" method="post" enctype="multipart/form-data">
                     {% csrf_token %}
                     <input type="text" name="username" placeholder="User Name" required="">
                     <input type="email" name="email" placeholder="Email" required="">
                     <input type="password" name="password" id="password1" placeholder="Password" required="">
                     <input type="password" name="passwords" id="password2" placeholder="Confirm Password" required="">
                     <input type="file" name="resume" placeholder="Choose File" required="">
                     <select id="country13" name="work" class="frm-field required" required>
                        <option>Work Experience</option>
                        <option value="fresher">Fresher</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                     </select>
                     <select id="country13" name="qualification" class="frm-field required" required>
                        <option>Qualification</option>
                        <option value="BSc.">Bsc</option>
                        <option value="BTech">BTech</option>
                        <option value="BCA">BCA</option>
                        <option value="MCA">MCA</option>
                        <option value="MBA">MBA</option>
                        <option value="Mtech">Mtech</option>
                        <option value="Diploma">Diploma</option>
                        <option value="Other">Other</option>
                     </select>
                     <input type="submit" value="Register">
                  </form>
                  <!-- </div> -->
                  <p class="reg">By clicking register, I agree to your terms</p>
                  <div class="login-social-grids">

                  </div>
                  <p>Already have an account?<a href="{% url 'userLogin' %}"><span>Login Here</span> </a></p>
               </div>
            </div>
         </div>
      </div>
      <div class="footer_top_agileits">
         <div class="container">
            <div class="col-md-4 footer_grid">
               <h3>About Us</h3>
               <p>Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue nisi vel pulvinar
                  posuere sapien
                  eros.
               </p>
            </div>
            <div class="col-md-4 footer_grid">
               <h3>Latest News</h3>
               <ul class="footer_grid_list">
                  <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                     <a href="">Lorem ipsum neque vulputate </a>
                  </li>
                  <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                     <a href="">Dolor amet sed quam vitae</a>
                  </li>
                  <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                     <a href="">Lorem ipsum neque, vulputate </a>
                  </li>
                  <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                     <a href="">Dolor amet sed quam vitae</a>
                  </li>
                  <li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                     <a href="">Lorem ipsum neque, vulputate </a>
                  </li>
               </ul>
            </div>
            <div class="col-md-4 footer_grid">
               <h3>Contact Info</h3>
               <ul class="address">
                  <li><i class="fa fa-map-marker" aria-hidden="true"></i>Jalandhar
                     <span>Bus Stand.</span>
                  </li>
                  <li><i class="fa fa-envelope" aria-hidden="true"></i><a
                     href="">info@example.com</a></li>
                  <li><i class="fa fa-phone" aria-hidden="true"></i>+09187 8088 9436</li>
               </ul>
            </div>
            <div class="clearfix"></div>
         </div>
      </div>
      <div class="footer_w3ls">
         <div class="container">
            <div class="footer_bottom">
               <div class="col-md-9 footer_bottom_grid">
                  <div class="footer_bottom1">
                     <a href="">
                        <h2><span class="fa fa-signal" aria-hidden="true"></span> JP <label>Job Portal</label></h2>
                     </a>
                     <p>Job Portal | <a href="">User Panel</a></p>
                  </div>
               </div>
               <div class="col-md-3 footer_bottom_grid">
               </div>
               <div class="clearfix"></div>
            </div>
         </div>
      </div>
      <!-- //footer -->
      <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover"
         style="opacity: 1;"> </span></a>
      <!-- js -->
      <script type="{% static 'assets/text/javascript' %}" src="js/jquery-2.1.4.min.js"></script>
      <!-- password-script -->
      <script type="{% static 'assets/text/javascript' %}">
         window.onload = function () {
         	document.getElementById("password1").onchange = validatePassword;
         	document.getElementById("password2").onchange = validatePassword;
         }

         function validatePassword() {
         	var pass2 = document.getElementById("password2").value;
         	var pass1 = document.getElementById("password1").value;
         	if (pass1 != pass2)
         		document.getElementById("password2").setCustomValidity("Passwords Don't Match");
         	else
         		document.getElementById("password2").setCustomValidity('');
         	//empty string means no validation error
         }

      </script>
      <!-- //password-script -->
      <script type="{% static 'assets/text/javascript' %}" src="js/bootstrap.js"></script>
   </body>
</html>
