{% extends 'temp/admin_layout.html' %}
{% block body %}
<div class="inner_page_agile">
    <h3>Job</h3>
    <p>Add new job here</p>
</div>
<form method='post' action='{% url "add_job" %}'>
   {%csrf_token%}
   <select id="country13" name="company" class="frm-field required" required>
      {% for i in cid %}
      <option value="{{i.id}}">{{i.comapany_name}}</option>
      {% endfor %}
   </select>
   <label>Job title</label><br>
   <input type="text" id="title" name="title" placeholder="title" required=""><br><br>
   <label>salary_expected</label><br>
   <input type="text" id="salary" name="salary" placeholder="salary_expected" required=""><br>
   <label>timings</label><br>
   <input type="text" id="timings" name="timings" placeholder="timings" required=""><br>
   <label>type</label><br>
   <input type="text" id="type" name="type" placeholder="type" required=""><br>
   <input type="submit" value="Submit">
</form>
{% endblock %}
