{% extends 'temp/admin_layout.html' %}

{% block body %}
<div class="inner_page_agile">
    <h3>Company</h3>
    <p>Add new company here</p>
</div>
<div class="w3layouts_mail_grid">
    <form method='post' action='{% url "add_company" %}'>
        {% csrf_token %}
        <div class="col-md-6" style="left: 365px;">
            <input type="text" id="cname" name="cname" value="" placeholder="Company Name" required="">
            <input type="text" id="loc" name="loc" value="" placeholder="Location" required="">
            <input type="text" id="number_of_employes" name="number_of_employes" value=""
                   placeholder="Number of employees" required="">
            <input type="text" id="specilization" name="specilization" value="" placeholder="Specialization"
                   required="">
            <input type="submit" value="Submit">
        </div>
        <div class="clearfix"></div>
        <br>
        <br>
    </form>
</div>
{% endblock %}