{% extends 'temp/admin_layout.html' %}

{% block body %}

{% if message %}
  <div class="alert-danger p-2">{{message}}</div>
{% endif %}

 <form method='post' action='{% url "add_job" %}'>
   {%csrf_token%}
   <select id="country13" name="company" class="frm-field required" required>
    {% for i in company %}
    <option value="{{i.id}}">{{i.comapany_name}}</option>
    {% endfor %}
</select>
  <label for="lname">Job title</label><br>
  <input type="text" id="title" name="title" value="" placeholder="title" minlength="3" required=""><br><br>
  <label for="fname">salary_expected</label><br>
  <input type="number" id="salary" name="salary" value="" placeholder="salary_expected" min="100" required=""><br>
  <label for="fname">timings</label><br>
  <input type="text" id="timings" name="timing" value="" placeholder="timings" required=""><br>
  <label for="fname">type</label><br>
  <input type="text" id="type" name="type" value="" placeholder="type" required=""><br>
  <input type="submit" value="Submit">
  
</form> 

{% endblock %}