{% extends 'temp/admin_layout.html' %}

{% block body %}

<div class="container p-4 text-center">

    <h2>Job List</h2><a href = "{% url 'add_job' %}" type="button" align="right" class="btn btn-primary">Add Job</a>
    <table class="table mt-3">
        <tr>
            <th>Id</th>
            <th>company</th> 
            <th>Job title</th>
            <th>salary_expected</th>
            <th>timings</th>
            <th>type</th>
            <th>Actions</th>
        </tr>
        {% for i in company %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.company_id.comapany_name}}</td>
                <td>{{i.job_title}}</td>
                <td>{{i.salary_expected}}</td>
                <td>{{i.timing}}</td>
                <td>{{i.type}}</td>
                <td>
                    <a href ="{% url 'edit_job' i.id %}" class= 'btn btn-primary'>Edit</a>
                    <a href ="{% url 'delete_job' i.id %}" class= 'btn btn-primary'>Delete</a>
                </td>
            

            </tr>
        {% endfor %}
 
     </table>
</div>
{% endblock %}
 
<!-- </div> -->
