{% extends 'temp/admin_layout.html' %}
{% block body %}
<div class="inner_page_agile">
    <h3>Job</h3>
    <p>Edit your job details</p>
</div>
<div class="w3layouts_mail_grid">
    <form method='post' action='{% url "edit_job" id=jp.id %}'>
        {%csrf_token%}
        <div class="col-md-6" style="left: 365px;">
            <select id="country13" name="company" class="frm-field required" style="padding: 1em 1em; width: 100%;"
                    required>
                {% for i in cid %}
                <option value="{{i.id}}">{{i.comapany_name}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <input type="text" id="title" name="title" placeholder="Job Title" required="" value="{{jp.job_title}}">
            <input type="text" id="salary" name="salary" placeholder="Expected Salary" required=""
                   value="{{jp.salary_expected}}">
            <input type="text" id="timings" name="timings" placeholder="Timings" required="" value="{{jp.timing}}">
            <input type="text" id="type" name="type" placeholder="Job Type" required="" value="{{jp.type}}">
            <input type="submit" value="Update">
        </div>
        <div class="clearfix"></div>
        <br>
        <br>
    </form>
</div>
{% endblock %}
