{% extends 'temp/admin_layout.html' %}
{% block body %}
<div class="inner_page_agile">
    <h3>Job</h3>
    <p>Edit your job details</p>
</div>
<form method='post' action='{% url "edit_job" id=jp.id %}'>
   {%csrf_token%}
   <select id="country13" name="company" class="frm-field required" required>
      {% for i in cid %}
      <option value="{{i.id}}">{{i.comapany_name}}</option>
      {% endfor %}
   </select>
   <label>Job title</label><br>
   <input type="text" id="title" name="title" placeholder="title" required="" value="{{jp.job_title}}"><br><br>
   <label>salary_expected</label><br>
   <input type="text" id="salary" name="salary" placeholder="salary_expected" required="" value="{{jp.salary_expected}}"><br>
   <label>timings</label><br>
   <input type="text" id="timings" name="timings" placeholder="timings" required="" value="{{jp.timing}}"><br>
   <label>type</label><br>
   <input type="text" id="type" name="type" placeholder="type" required="" value="{{jp.type}}"><br>
   <input type="submit" value="Submit">
</form>
{% endblock %}
